<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="col-md-12" style="height: 30px;background: #2684E8;width: 100%;">
	<span style="color: #fff;font-size: 14px;font-weight: 600;margin-top: 5px;" class="pull-left">
		<i class="fa fa-phone"></i> 04822 225 007
	</span>
	<span style="color: #fff;font-size: 14px;font-weight: 600;margin-top: 5px;" class="pull-right">
		<i class="fa fa-envelope"></i> contact@jobportal.com
		<a href="{%url 'usignout'%}" style="margin-left:10px;color:#fff;">
			<i class="fa fa-power-off"></i>
		</a>
	</span>
</div>
<div class="container" style="width: 100%; border-style: solid;border-color: #2684E8;border-width: .5px;">

	<div class="col-md-2">
		<a href="{%url 'home'%}">
		<img src="/images/logo.jpg" style="width:100px;" class="pull-left"></a>
	</div>
	<div class="col-md-3">
		<input type="text" name="search" id="search" class="form-control" style="border-radius: 15px;margin-top: 8%;border-color: #2684E8;font-weight: 600;color: #2684E8;" placeholder="Serach For Jobs">
	</div>
	<div class="col-md-3">
		<select class="form-control" style="border-radius: 15px;margin-top: 8%;border-color: #2684E8;font-weight: 600;color: #2684E8;">
			<option value="" selected disabled >Select Location</option>
			<option value="Kochi" >Kochi</option>
			<option value="Trivandrum">Trivandrum</option>
			<option value="Kottayam">Kottayam</option>
			<option value="Pathanamthitta">Pathanamthitta</option>

		</select>
	</div>
	<div class="col-md-2">
		<button type="submit" class="btn btn-block" style="border-radius: 15px;margin-top: 10.5%;border-color: #2684E8;font-weight: 600;color: #fff;background:#2684E8; ">Search</button>
	</div>


</div>

<div class="list-group col-md-3" style="height: 100%;">
  <a href="#" class="list-group-item list-group-item-action " style="background: #2684E8;color: #fff;font-weight: 600;text-align: center;">
    JOB CATEGORY
  </a>
  <a href="#" class="list-group-item list-group-item-action">Information Technology</a>
  <a href="#" class="list-group-item list-group-item-action">Driver</a>
  <a href="#" class="list-group-item list-group-item-action">Clerk</a>
  <a href="#" class="list-group-item list-group-item-action">Online Jobs</a>
  <a href="#" class="list-group-item list-group-item-action">Chef</a>
  <a href="#" class="list-group-item list-group-item-action">Management</a>
  <a href="#" class="list-group-item list-group-item-action">Nurse</a>

</div>
<div class="col-md-9">
    {%for job in jobslist%}
	<div class="col-md-3" style="border-style: solid;color:#2684E8;border-radius: 15px;height: 400px;padding:10px; margin: 10px;border-width: 0.5px;">
		<img src="/images/download.jpg" style="width:100%;align-content: center;margin-top: 3px;">
		<h4>{{job.job_title}}</h4>
        <span style="font-style: italic;color: #787878;"><i class="fa fa-map-marker"></i> {{job.location}}</span><br />
        <span style="font-style: italic;color: #787878;"><i class="fa fa-info"></i> {{job.job_details}}</span><br />
        <span style="font-style: italic;color: #787878;"><i class="fa fa-phone"></i> {{job.phone}}</span><br />
        <span style="font-style: italic;color: #787878;"><i class="fa fa-envelope"></i> {{job.email}}</span><br />
        <span style="font-style: italic;color: #787878;"><i class="fa fa-list"></i> {{job.description}}</span><br />

		<span style="font-style: italic;color: #787878;"><i class="fa fa-map-marker"></i> {{job.location}}</span><br />
		<span style="font-style: italic;color: #787878;"><i class="fa fa-calendar"></i> {{job.experience}} Yrs</span>
		 <a href="{%url 'apply' job.id%}">
		<button class="btn btn-block" style="font-weight: 600;color: #fff;background: #2684E8;margin-top: 10px;">APPLY NOW</button></a>
	</div>
    {%endfor%}
</div>


</body>
<style type="text/css">
	.c1:hover{background: rgb(50,50,198);
background: linear-gradient(117deg, rgba(50,50,198,1) 35%, rgba(212,66,8,0.5522584033613445) 100%);
	}

</style>
</html>
