<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="col-md-12" style="height: 30px;background: #2684E8;width: 100%;">
	<span style="color: #fff;font-size: 14px;font-weight: 600;margin-top: 5px;" class="pull-left">
		<i class="fa fa-phone"></i> 04822 225 007
	</span>
	<span style="color: #fff;font-size: 14px;font-weight: 600;margin-top: 5px;" class="pull-right">
		<i class="fa fa-envelope"></i> contact@jobportal.com
        <a href="{%url 'esignout'%}" style="margin-left:10px;color:#fff;">
			<i class="fa fa-power-off"></i>
		</a>
	</span>
</div>
<div class="container" style="width: 100%; border-style: solid;border-color: #2684E8;border-width: .5px;">

	<div class="col-md-2">
        <a href="{%url 'ehome'%}">
		<img src="/images/logo.jpg" style="width:100px;" class="pull-left">
        </a>
	</div>
	<div class="col-md-3">
    </div>
	<div class="col-md-3">

	</div>
	<div class="col-md-2">

	</div>
	<div class="col-md-2">
		<div class="c1" style="border-style: solid;margin-top: 10%;padding: 6px;border-color: #E86A26;border-radius: 15px;border-width: .5px;">
			<center><a href="{%url 'postjob'%}" class="c2" style="color: #E86A26;font-weight: 600;">POST NEW JOB</a></center>
		</div>

	</div>

</div>
<div class="col-md-1"></div>
<div class="col-md-10">
	<table class="table table-striped" style="margin-top:15px;">
    {% for object in object_list %}
    <tr>
        <td>{{object.id}}</td>
        <td>{{object.name}}</td>
        <td>{{object.phone}}</td>
        <td>{{object.email}}</td>
        <td>{{object.address}}</td>
        <td>{{object.experience}}</td>
        <td>{{object.qualification}}</td>
        <td>{{object.applied_date}}</td>
        <td>{{object.status}}</td>
        <td><a href="{%url 'edit' object.id%}"><button class="btn btn-warning">Update Application Status</button></a> </td>


    </tr>
        {%endfor%}


</table>

</div>
<div class="col-md-1"></div>


</body>
<style type="text/css">
	.c1:hover{background: rgb(50,50,198);
background: linear-gradient(117deg, rgba(50,50,198,1) 35%, rgba(212,66,8,0.5522584033613445) 100%);
	}

</style>
</html>
